
body{
    border-radius: 2rem; background: url("IMG_2649 (1).JPG") no-repeat ;
    background-size: 100% 100%;
}


.jumbotron {
    padding: 2rem 1rem;
    margin:0 auto 2rem;
    background-color: rgb(18, 5, 94);
    opacity: .96;
    border-radius: 2rem;
   
}

.game--backdrop{
    margin: 0 auto;
    height: 400px;
    border-radius: 2rem;
   
}

.game--backdrop1{
    background: url("hangman1.jpg") no-repeat ;
    background-size: 100% 100%;
  
}

.game--backdrop2{
    background: url('hangman2.jpg') no-repeat ;
    background-size: 100% 100%;
    
}
.game--backdrop3{
    background: url('hangman3.jpg') no-repeat ;
    background-size: 100% 100%;
}
.game--backdrop4{
    background: url('hangman4.jpg') no-repeat ;
    background-size: 100% 100%;
}
.game--backdrop5{
    background: url('hangman5.jpg') no-repeat ;
    background-size: 100% 100%;
}
.game--backdrop6{
    background: url('hangman6.jpg') no-repeat ;
    background-size: 100% 100%;
}
.game--backdrop7{
    background: url('hangman7.jpg') no-repeat ;
    background-size: 100% 100%;
}
.game--backdrop8{
    background: url('hangman8.jpg') no-repeat ;
    background-size: 100% 100%;
}
.game--backdrop9{
    background: url('hangman9.jpg') no-repeat ;
    background-size: 100% 100%;
}
.game--backdrop10{
    background: url('hangman10.jpg') no-repeat ;
    background-size: 100% 100%;
}
#insturctions{
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 10px;
}

#tries-remaining{
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 10px;
}


.header{
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 20px;
    border: tan 20px;
}

#used-characters{
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 10px;
}
.Character-list{
    color: white;
}
h5{
    text-align: center;
    bottom: 0px;
    height: 20px;
}
#used-characters{
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 10px;
}
#character-length{
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 10px;
}
#character-no{
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 10px;
}
#character-spaces{
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 10px;
}
